<div class="card-container">
    <mat-card class="news-card" (dblclick) = "ondblclick(_news)" #tooltip="matTooltip"  matTooltip="Doble clic para ver detalles">
        <mat-card-title-group>
          <mat-card-title class="card-title">{{_news.titulo}}</mat-card-title>
          <mat-card-subtitle class="card-subtitle">{{getFormattedDate(_news.created_at)}}</mat-card-subtitle>
          <img class="card-img" mat-card-sm-image src="{{_news.imagen_titulo.url}}" >
        </mat-card-title-group>
        <mat-card-content class="card-content">
          {{adjustContent(_news.content)}}
        </mat-card-content>
    </mat-card>
</div>
