<mat-toolbar style="background-color: #5E5E60; height:80px;">
  <div class="logo">
    <a href="http://www.labanca.com.uy" target="_blank">
      <img class="labanca_logo" src="https://www.supermatch.com.uy/assets/integracion/banca-f5ec2068c7ebfaad78051fe5fc9e9b67.png" alt=""/>
    </a>
  </div>
  <div class="games">
    <a href="https://www.labanca.com.uy/jr3/juego5deoro" target="_blank">
      <img class="game" src="https://www.supermatch.com.uy/assets/integracion/5Oro-e4c73d2d75cd564e0e2073c1b9a1c1dd.png" alt=""/>
    </a>
    <span class="separator">|</span>
    <a href="https://www.labanca.com.uy/jr3/juegoquiniela" target="_blank">
      <img class="game" src="https://www.supermatch.com.uy/assets/integracion/quiniela-4c15d8ec8bba8d5dde7d14fdb3f70426.png" alt=""/>
    </a>
    <span class="separator">|</span>
    <a href="https://www.labanca.com.uy/jr3/juegotombola" target="_blank">
      <img class="game"  src="https://www.supermatch.com.uy/assets/integracion/tombola-9aa87e0e96064a390a8802f7beb1b12f.png" alt=""/>
    </a>
    <span class="separator">|</span>
    <a href="https://eraspadita.com.uy" target="_blank">
      <img class="game" src="https://www.supermatch.com.uy/assets/integracion/eRaspadita-eaa9349ea93b510181cf04d508011818.png" alt=""/>
    </a>
  </div>
</mat-toolbar>