<mat-toolbar style="background-color: #5E5E60; height:80px;"> 
  <div class="logo">
    <div class="logo-container">
    <a href="http://www.labanca.com.uy" target="_blank">
      <img class="labanca_logo" src="assets/images/logos/LaBancaLogo.png" alt=""/>
    </a>
  </div>
  </div>
  <div class="games">
    <div class="games-container">
    <a href="https://www.labanca.com.uy/jr3/juego5deoro" target="_blank">
      <img class="game" src="assets/images/logos/5Oro.png" alt=""/>
    </a>
    <span class="separator">|</span>
    <a href="https://www.labanca.com.uy/jr3/juegoquiniela" target="_blank">
      <img class="game" src="assets/images/logos/quiniela.png" alt=""/>
    </a>
    <span class="separator">|</span>
    <a href="https://www.labanca.com.uy/jr3/juegotombola" target="_blank">
      <img class="game"  src="assets/images/logos/tombola.png" alt=""/>
    </a>
    <span class="separator">|</span>
    <a href="https://eraspadita.com.uy" target="_blank">
      <img class="game" src="assets/images/logos/raspadita.png" alt=""/>
    </a>
  </div>
  </div>

  <div class="channels">
    <div class="channels-container">    
    <a target="_blank">
      <img class="channel" src="assets/images/logos/android.png" alt=""/>
    </a>
    <a href="https://itunes.apple.com/uy/app/supermatch-mobile/id823826733?mt=8" target="_blank">
      <img class="channel" src="assets/images/logos/iOS.png" alt=""/>
    </a>
    <a href="https://www.youtube.com/user/LaBancadeQuinielas" target="_blank">
      <img class="channel"  src="assets/images/logos/youtube.png" alt=""/>
    </a>
      <img class="channel" src="assets/images/logos/whatsapp.png" alt=""/>
      <span class="phone">096022601</span>
      <img class="channel" alt="18+" src="assets/images/logos/18+.png">
    </div>
  </div>
</mat-toolbar>
