<mat-toolbar style="background-color: #5E5E60; height:80px;">
  <div class="branding" style="cursor: pointer; background-color: #5E5E60; height:80px;">
    <a href="http://www.labanca.com.uy" style="width: 190; height: 75px; margin-right: 8px;" target="_blank">
      <img src="https://www.supermatch.com.uy/assets/integracion/banca-f5ec2068c7ebfaad78051fe5fc9e9b67.png" alt=""/>
    </a>  
    
  </div>

  <button *ngIf="layoutConf.sidebarStyle !== 'compact'" mat-icon-button id="sidenavToggle" fxHide.gt-md fxHide.md
          (click)="toggleSidenav()" matTooltip="Toggle Hide/Open">
      <mat-icon>menu</mat-icon>
  </button>
  <span fxFlex></span>
</mat-toolbar>