<h2 mat-dialog-title>
    <span class="title">Crear una noticia</span>
</h2>
<mat-dialog-content class="mat-typography">
    <!--!<img class="img" mat-card-sm-image width="100%" height="100%"> -->
    <div class="upload-img">
        <mat-icon class="up-img" matSuffix>add_a_photo</mat-icon>
    </div>
    
    <div class="title-input">
        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>Titulo de la noticia</mat-label>
            <input matInput  placeholder="Ingrese el titulo de la noticia...">
        </mat-form-field>
    </div>


    
    <mat-form-field class="textarea-full-width" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Ingrese la descripcion..."></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>