.title {
    color: #3059A5;
    width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
  }

  .img {
    float:right;
    top:80px;
    right:2px; 
  }

  .textarea-form {
    width: 100%;
  }
  
  .textarea-full-width {
    width: 100%;
  }

 .description {
     margin-bottom:-50px;
 }