<div [ngClass]="gridList">
<mat-grid-list [(cols)]="cols" rowHeight="2:1">
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
    <mat-grid-tile><app-news-card></app-news-card></mat-grid-tile>
  </mat-grid-list>
</div>



