.grid-list-container-cols-1 {
	margin:auto;
	position:relative;
    width: 400px;
	text-align:center;
}

.grid-list-container-cols-2 {
	margin:auto;
	position:relative;
    width: 800px;
	text-align:center;
}
