.grid-list-container-cols-1 {
	margin:auto;
	position:relative;
    width: 400px;
	text-align:center;
}

.grid-list-container-cols-2 {
	margin:auto;
	position:relative;
    width: 800px;
	text-align:center;
}

.add-card {
	width:350px;
	height:120px;
}

.icon-add {
    font-size: 100px;
    color: #5E5E60;
    margin-right: 67px;
	cursor: pointer;
}

.add-card:hover {background-color: #F3F3F3;}