.title {
    color: #3059A5;
    width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
  }

  .subtitle {
    font-size: 14px;
    margin-top: -15px;
  }

  .margin-top {
    margin-top: -12px;
  }

  .align {
    text-align: justify;
  }

  .img {
    float:right;
    top:80px;
    right:2px; 
  }

  .icon-edit {
    float:right;
    color:#686868;
    cursor: pointer;
  }
  .icon-edit:hover {color: #2B13FF;}

  .icon-delete {
    float:right;
    color:#686868;
    cursor: pointer;
  }
  .icon-delete:hover {color: #D81600;}

  .textarea-form {
    width: 100%;
  }
  
  .textarea-full-width {
    width: 100%;
  }

  .up-img{
    font-size: 50px;
    color: #5E5E60;
    float:right;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  
  
    .icon-upload {
      margin-top: -120px;
      align-items: center;
      justify-content: center;
    }
  
    .img {
      float:right;
      top:80px;
      right:2px; 
    }
  

  .upload-img{
    height:120px;
    width:120px;
    border:  2px solid #AFAFAF;
    float:right;
    margin-right: 30px;
    margin-top: 14px;
    margin-bottom: 50px;
    cursor: pointer !important;
  }

.img-upload{
    height: 120px;
    width:120px;
    margin-top: -102px;
    cursor: pointer;
}

.img-upload:hover {opacity: 0.5 !important;}

