.title {
    color: #3059A5;
    width:100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
  }

  .subtitle {
    font-size: 14px;
    margin-top: -15px;
  }

  .margin-top {
    margin-top: -12px;
  }

  .align {
    text-align: justify;
  }

  .img {
    float:right;
    top:80px;
    right:2px; 
  }

  .icon-edit {
    float:right;
    color:#686868;
    cursor: pointer;
  }
  .icon-edit:hover {color: #2B13FF;}

  .icon-delete {
    float:right;
    color:#686868;
    cursor: pointer;
  }
  .icon-delete:hover {color: #D81600;}