.scroll-gridList {
	height: calc(100vh - 91px);
	overflow-y: scroll;
}

.scroll-gridList::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scroll-gridList::-webkit-scrollbar:vertical {
    width:10px;
}

.scroll-gridList::-webkit-scrollbar-button:increment,.scroll-gridList::-webkit-scrollbar-button {
    display: none;
} 

.scroll-gridList::-webkit-scrollbar:horizontal {
    height: 10px;
}

.scroll-gridList::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.scroll-gridList::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.scroll-top {
	display: flex;
	float: right;
	justify-content: center;
	width: 120px;
    margin-top: -60px;
  }

  ::ng-deep .scroll-top .mat-mini-fab.mat-accent {
    background-color: #5E5E60;
}
